<template>
  <p>{{ reportes }}</p>
</template>

<script>
import reportes from "../../routes/reportes.js";
export default {
  data() {
    return {
      reportes
    };
  }
};
</script>

<style>
</style>
